
$o-view-background-color-dark-from: #0b0b0b;
$o-view-background-color-dark-to: #a0a0a0;
.knk_night_mode .o_view_nocontent{
    background-image: radial-gradient(at 50% 50%, #{$o-view-background-color-dark-from} 0px, #{rgba($o-view-background-color-dark-to, 0.5)} 100%);
    .o_nocontent_help {
        border-radius: 20%;
        background-color: #2d2b2d;
        box-shadow: 0 0 120px 100px #555555;
    }
}

.knk_night_mode .table-hover > tbody > tr:hover > * {
    --table-accent-bg: #4a5152 !important;
}

.knk_night_mode .table-hover > tbody > tr.o_data_row_selected > * {
    --table-accent-bg: #3a5152;
}

.knk_night_mode input::placeholder {
    color: #828282;
}
.knk_night_mode select {
    color: #cdcdce !important;
}
.knk_night_mode pre {
    color: #dfeeee;
}
.knk_night_mode .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CDCDCE'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}
.knk_night_mode ::-webkit-scrollbar {
    background: none;
    width: 6px;
    height: 6px;
}

.knk_night_mode .o_kanban_card_header_title .o_primary {
    color: #cdcdce !important;
}

.knk_night_mode .o_kanban_primary_bottom.bottom_block {
    border-top: 1px solid #535659 !important;
    background-color: #535659 !important;
}

.o-dropdown--menu:not(.knk_night_mode) .dropdown-item.focus{
    background: rgba(0, 0, 0, 0.08) !important;
}

.knk_night_mode .o_form_view .o_form_uri > span:hover {
    color: #ffffff !important;
}

.knk_night_mode .o_form_view .o_required_modifier:not(.o_readonly_modifier) .btn {
    color: #cdcdce !important;
}
