
$o-view-background-color-dark-from: #0b0b0b;
$o-view-background-color-dark-to: #a0a0a0;
.knk_night_mode .o_view_nocontent{
    background-image: radial-gradient(at 50% 50%, #{$o-view-background-color-dark-from} 0px, #{rgba($o-view-background-color-dark-to, 0.5)} 100%);
    .o_nocontent_help {
        border-radius: 20%;
        background-color: #2d2b2d;
        box-shadow: 0 0 120px 100px #555555;
    }
}

.knk_night_mode .table-hover > tbody > tr:hover > * {
    --table-accent-bg: #4a5152;
}